/* MOBILE */
.nav-bar {

    .logo-menu-slack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 30px;
    }
    
    .menu-icon {
        width: 20px;
        height: 20px;
    }

    ul {
        display: none;
    }

    button {
        display: none;
    }
}

/* MQ */

@media (min-width: 1200px) {

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .menu-icon {
            display: none;
        }

        ul {
            display: flex;
            gap: 50px;
            margin-right: 150px;
            list-style: none;

            li {
                font-size: 14px;
                font-weight: bold;

                a {
                    color: #FFF;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 1px solid #FFF;
                }
            }
        }
        
        .navbar-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;

                button {
                    display: block;
                    margin-right: 15px;
                }

                .sales-button {
                    background-color: $primary-color;
                    color: #FFF;
                    border: 2px solid #FFF;
                    border-radius: 5px;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }

                .trial-button {
                    background-color: #FFF;
                    color: $primary-color;
                    border: 2px solid #FFF;
                    border-radius: 5px;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }
            }
        }

    /* MAIN HEADER SECTION */
}