/* Colores */

$primary-color: #541554;
$second-color: #4a154b;
$third-color: #601F68;
$fourth-color: #F4EDE4;
$links-color: #1264a3;
$main-font: 'Roboto', sans-serif;

@import 'body';
@import 'nav';
@import 'header';
@import 'firstSection';
@import 'secondSection';
@import 'thirdSection';
@import 'fourthSection';
@import 'footer';